{% for c in cards %}
    {% if c.type == "card" %}
        <div class="card" style="margin:20px;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">{{ c.title }}</h5>
                <p class="card-text">{{ c.body }}</p>
                <a href="#" class="btn btn-primary">{{ c.link }}</a>
            </div>
        </div>
    {% elif c.type == "cat" %}
        <div class="card" style="margin:20px;">
            <div class="card-body"> 
                <h5 class="card-title">{{ c.title }}</h5>
                <ul>
                    {% for l in c.list %}
                        <li>
                            <a href="{% url 'category' pk=l.id %}">{{ l }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% elif c.type == "series" %}
        <div class="card" style="margin:20px;">
            <div class="card-body"> 
                <h5 class="card-title">{{ c.title }} (series)</h5>
                <ul>
                    {% for l in c.list %}
                        <li>
                            <a href="{% url 'blogpost' pk=l.blogpost.id %}">
                                {% if post.id == l.blogpost.id %}<b>{% endif %}
                                {{ l }}</a>
                                {% if post.id == l.blogpost.id %}</b>{% endif %}

                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% elif c.type == "search" %}
        <div class="card" style="margin:20px;">
            <div class="card-body"> 
                <h5 class="card-title">Search</h5>
                <form action="/search/" method="post">
                    {% csrf_token %}
                    {{ c.form.as_table }}
                    <br/><input type="submit" class="btn btn-primary" value="Go">
                </form>
            </div>
        </div>
    {% else %}
        <div class="card" style="margin: 2px;">
            <div class="card-body">
                <h1>Unknown Box type; {{c.type}}<h1>
            </div>
        </div>
    {% endif %}
{% endfor %}