{% extends "main.html" %}
{% block content %}
<div class="container my-5 col-md-12">
    <div class="row">
        <div class="col-md-4">
            <h2>Column 1</h2>
            <p>Content for the first column goes here.</p>
        </div>
        <div class="col-md-4">
            <h2>Column 2</h2>
            <p>Content for the second column goes here.</p>
        </div>
        <div class="col-md-4">
            <h2>Column 3</h2>
            <p>Content for the third column goes here.</p>
        </div>
    </div>
</div>
{% endblock  %}