{% extends "main.html" %}
{% block content %}     
{% if page == 'login' %}

<div class="container my-5 col-md-12">
    <div class="row">
        <div class="col-md-8">
            <h1>Contact form</h1>
            <div class="form-group">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary">Sign in</button>
                </form>
                <p>Haven't signed up?</p>
                <a href="{% url 'register'%}">Sign up</a>
            </div>
        </div>
        <div class="col-md-4">
            {% include 'cards.html' %}
        </div>
    </div>
</div>







{% else %}
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Register" />
        </form>
        <p>Already signed up?</p>
        <a href="{% url 'login'%}">Login</a>
    </div>
{% endif %}
{% endblock content %}