<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv='X-UA-Compatible' content="IE=edge">
        <title>{{ title }}</title>
        <meta name="viewport" content='width=device-width, initial-scale=1'>
        <meta name="description" content="Our first page">
        <meta name="keywords" content="html tutorial template">
        <link rel="stylesheet" type="text/css" media="screen" 
        href="{% static "css/main.css" %}">
        <link href=https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css rel="stylesheet">
    </head>
    <body>
        {% include 'navbar.html' %}
        {% if header %}
            {% include 'header.html' %}
        {% endif %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags}}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}

        {% endblock %}
        {% include "footer.html" %}
        <script src=https://code.jquery.com/jquery-3.5.1.slim.min.js></script>
        <script src=https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js></script>
        <script src=https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js></script>
    </body>
</html>    

