{% extends "main.html" %}
{% block content %}
<div class="container my-5 col-md-12">
    <div class="row">
        <div class="col-md-8">
            SEARCH
            <h1>{{ query }}</h1>
            {% for result in results %}
                <h3><a href="{% url "blogpost" result.id %}">{{ result.title}}</a><h3>
                <small>Author: {{ result.author}} : <i>{{ result.updated}}</i></small>
                <p>{{ result.synopsis }}</p>
            {% endfor %}
            {% if results.paginator.page_range > 1 %}
                <nav aria-label="pagination menu">
                    <ul class="pagination">
                        {% if results.number > 1 %}
                            <li class="page-item">
                                <a href="?query={{ query }}&page=1" class="page-link">&laquo; first</a>
                            </li>
                            <li class="page-item">
                                <a href="?query={{ query }}&page={{ results.previous_page_number }}" class="page-link">previous</a>
                            </li>
                        {% endif %}
                        {% for r in results.paginator.page_range %}
                            <li class="page-item {% if r == results.number %}active{% endif %}">
                                <a href="?query={{ query }}&page={{ r }}" class="page-link ">{{ r }}</a> 
                            </li>
                        {% endfor %}
                        {% if results.number < results.paginator.page_range|last %}
                            <li class="page-item">
                                <a href="?query={{ query }}&page={{ results.next_page_number }}" class="page-link">next</a>
                            </li>
                            <li class="page-item">
                                <a href="?query={{ query }}&page={{ results.paginator.page_range|last}}" class="page-link">&raquo; last</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% include 'cards.html' %}
        </div>
    </div>
</div>
{% endblock  %}