{% extends "main.html" %}
{% block content %}
<div class="container my-5 col-md-12">
    <div class="row">
        <div class="col-md-8">
            SEARCH
            <h1>{{ query }}</h1>
            {% for post in posts %}
                <h3><a href="{% url "blogpost" post.id %}">{{ post.title}}</a><h3>
                <small>Author: {{ post.author}} : <i>{{ post.updated}}</i></small>
                <p>{{ post.synopsis }}</p>
            {% endfor %}
            <nav aria-label="pagination menu">
                <ul class="pagination">
                    {% if posts.number > 1 %}
                        <li class="page-item">
                            <a href="?query={{ query }}&page=1" class="page-link">&laquo; first</a>
                        </li>
                        <li class="page-item">
                            <a href="?query={{ query }}&page={{ posts.previous_page_number }}" class="page-link">previous</a>
                        </li>
                    {% endif %}
                    {% for p in posts.paginator.page_range %}
                        <li class="page-item {% if p == posts.number %}active{% endif %}">
                            <a href="?query={{ query }}&page={{ p }}" class="page-link ">{{ p }}</a> 
                        </li>
                    {% endfor %}
                    {% if posts.number < posts.paginator.page_range|last %}
                        <li class="page-item">
                            <a href="?query={{ query }}&page={{ posts.next_page_number }}" class="page-link">next</a>
                        </li>
                        <li class="page-item">
                            <a href="?query={{ query }}&page={{ posts.paginator.page_range|last}}" class="page-link">&raquo; last</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="col-md-4">
            {% include 'cards.html' %}
        </div>
    </div>
</div>
{% endblock  %}